/* style_cadastro.css */
body {
  background: linear-gradient(to bottom, #289c04, #000000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.formulario_cadastro_usuario {
  background: #156915;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  margin: 20px auto;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

.form-main {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 20px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}

.txt-form {
  color: #80f180;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
}
button[type="submit"], input[type="submit"] {
  display: inline-block;
  margin-right: 10px;
}